*{
    font-family: 'poppins',sans-serif;
   font-weight: 700;
   scrollbar-width: none;
}
.navLogo{
    width:250px;
}
.headerH1{
    font-size: 55px;
}
.bgText{
    background-image: url("Images/deco-brush.svg");
    width:50px;
    background-size: cover;
    background-clip: border-box;
}
.line{
    color:orange;
    
}
.policyText{
    font-size: 10px;
}
.firstContainer{
    margin-top: 170px;
}
#headerImgVideo{
    width:400px;
}
#imagesCard{
    width:50px;
    height:50px;
}
#headerCard{
    width:24rem;
    height:22rem;
    padding:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    outline: 0;
    border:0;
}
#urlText{
    font-size: 12px;
}
#upload{
    width:220px;
    border-radius: 50px;
}
#rightSide{
    margin-top: 40px;
}
.secondContainer{
    margin-top: 100px;
}
.thirdContainer{
    margin-top: 100px;
}
.fourthContainer{
    margin-top: 100px;
}
.sixthContainer{
    margin-top: 100px;
    padding:100px;
}
#sixthContainerImg{
    width:500px;
}
.bgContainer{
    background-image: url("Images/pattern-rbg.svg");
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
    padding:100px;
}
#sixthContainerCard{
    width:380px;
    height:480px;
}
.author{
    margin-top: 100px;
}
#seventhContainerScroll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.eightContainer{
    margin-top: 100px;
}
#bgContainer{
    margin-top: 100px;
  
     background-image: url("Images/pattern-rbg.svg");
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
}
#tenContainer{
    padding:150px;
}
#detailsCard{
    width:350px;
    height:200px;
    border-radius: 20px;
}
#inputText{
    font-size: 13px;
}

#input{
    width:530px;
    margin-top: 50px;
}
.elevenContainer{
    margin-top: 100px;
}
.twelveContainer{
    margin-top: 100px;
   
}
ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
@media(max-width:932px){
    #textImg{
        flex-direction: column;
    }
    .titleBtn{
        overflow-x: scroll;
        scrollbar-width: none;
    }
    #sixthContainerImg{
    width:450px;
}
#sixthContainerH1{
    font-size: 50px;
}
#tenContainer{
    padding:50px;
}
#input{
    width:100%;
    margin-top: 50px;
}




    
}
@media (min-width: 820px) and (max-width: 1180px) {
  #tabletSize {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  #rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #textImg{
    flex-direction: row;
  }
  .privacy-policy {
    text-align: center;
    max-width: 450px;
  }
  #detailsCard{
    width:380px;
    height:260px;
    gap:150px;
  }
 
  #textEmail{
    display: flex;
  }
  #tenContainer{
    padding:30px;
  }
  .bgContainer{
    padding:0px;
  }
  .companyHeader{
    margin-top: 50px;
  }
  #seventh{
    display: flex;
    gap:80px;
  }
  #textCard{
    font-size: 14px;
  }
  #sixthContainerCard{
    width:220px;
    height:480px;

  }
  #companyLogo{
    width:130px;
  }
}
