* {
    font-family: 'poppins', sans-serif;
    scrollbar-width: none;
}

/* Import Open Sans (400, 500, 600) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/* Import Poppins (300–600) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');




html,
body {
    overflow-x: hidden;
}

/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.navLogo {
    width: 210px;
}

#nav-link {
    font-weight: 100;
    font-size: 15px;
    color: rgba(69, 69, 69, 0.918);
    line-height: 20px;
    font-family: "Canva Sans", sans-serif;

}
#nav-link:hover{
    background-color:aliceblue;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

nav {

    font-style: bold;

}

.headerH1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 600;
    color: #454545;
    font-family: 'poppins', sans-serif;
}

.headerH5 {
    color: #454545;
}

.bgText {
    background-image: url("Images/deco-brush.svg");
    width: 50px;
    padding: 10px;
    text-align: center;
    background-size: cover;
    background-clip: border-box;
}

#dropfileText {
    color: #536270;
}

.noImg {
    color: rgb(84, 97, 108);
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    font-family: "Canva Sans", "Open Sans", sans-serif;
}

#secondBtn {
    font-weight: 500;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(69, 69, 69);
    line-height: 24px;

}

.line2 img {
    animation: line2 2s linear;
}

@keyframes line2 {
    from {
        transform: rotate(20deg);
    }

}



.line img {
    height: 250px;
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
    animation: line 2s linear;

}

@keyframes line {
    from {
        transform: rotate(20deg);
    }

}

#textImg {
    gap: 30px;
}

.policyText {
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    color: rgb(84, 97, 108);
    font-weight: 400;
    font-family: "Canva Sans", "Open Sans", sans-serif;


}

.nineContainerpolicyText {
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    color: rgb(84, 97, 108);
    font-weight: 400;
    font-family: "Canva Sans", "Open Sans", sans-serif;
}



#headerImgVideo {
    width: 400px;
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 25px;

}

.videoText {
    margin-left: 150px;
}

#imagesCard {
    width: 50px;
    height: 50px;
}

#sign-up {
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
    width: 80px;
    color: rgb(69, 69, 69);
    line-height: 20px;
    font-family: "Canva Sans", sans-serif;
}

#headerCard {
    width: 430.4px;
    height: 320px;
    padding: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    outline: 0;
    border: 0;
    margin-top: 200px;
    position: relative;
    background-color: white;
}

.thirdTextsecond {
    font-size: 15px;
}

#textCard {
    font-size: 20px;
    line-height: 28px;
    color: rgb(69, 69, 69);
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-weight: 600;
}

.name {
    font-size: 16px;
    color: rgb(84, 97, 108);
    line-height: 24px;
    font-weight: 600;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-style: normal;
}

#urlText {
    font-size: 10px;
    font-weight: lighter;
    color: #54616c;
}

#upload {
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-family: "Canva Sans", "Open Sans", sans-serif;

    border-radius: 50px;
}

#dropfileText {
    font-size: 23px;
    line-height: 28px;
    font-weight: 600;
    color: #54616c;
}

#rightSide {
    margin-top: 40px;
}



.thirdContainer {
    margin-top: 100px;
    padding: 100px;
}

#thirdContainerImg {
    width: 300px;
}

.fourthText {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #454545;
}

.fourthTextP {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    font-family: "Canva Sans", "Open Sans", sans-serif;
}

.fourthContainer {
    margin-top: 100px;
}

.fifthContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

#fifthContainer {
    padding: 100px;
}

.sixthContainer {
    padding: 100px;
}

#sixthContainerImg {
    width: 480px;
}

.bgContainer {
    background-image: url("Images/pattern-rbg.svg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 100px 0;
}

#seventhContainerScroll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#sixthContainerCard {
    max-width: 380px;
    margin: auto;
    border-radius: 25px;
}

#work {
    font-size: 14px;
    font-weight: 100;
    color: rgb(84, 97, 108);
    line-height: 24px;
    font-family: "Canva Sans", "Open Sans", sans-serif;


}

#readText {
    font-size: 20px;
    color: rgb(84, 97, 108);
    line-height: 28px;
    font-weight: 600;
    font-family: "Canva Sans", "Open Sans", sans-serif;


}





.author {
    margin-top: 100px;
}



.eightContainer {
    margin-top: 100px;
}

#bgContainer {
    margin-top: 100px;

    background-image: url("Images/pattern-rbg.svg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
}

#tenContainer {
    padding: 100px;
}

#tenContainer2 {
    padding: 100px;
    margin-bottom: 100px;
}



#detailsCard {
    max-width: 350px;
    margin: auto;
    border-radius: 20px;
}

#inputText {
    font-size: 13px;
}

.titleTextH1 {
    color: #454545;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

.thirdTextsecond {
    color: rgb(10, 10, 10);
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    font-style: normal;
    font-family: "Canva Sans", "Open Sans", sans-serif;

}

.thirdTextP {
    font-size: 32px;
    font-family: 'poppins' sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 42px;
    color: rgb(69, 69, 69);


}

#textDetails {
    color: rgb(10, 10, 10);
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    font-style: normal;
    font-family: "Canva Sans", "Open Sans", sans-serif;

}

#iText {
    font-family: "Canva Sans", "Open Sans", sans-serif;

    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: rgb(84, 97, 108);
}

#sixthContainerH1 {
    font-size: 32px;
    color: rgb(69, 69, 69);
    line-height: 42px;
    font-weight: 600;
}

#companyHeader {
    color: #454545;
    font-size: 48px;
    line-height: 64px;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-weight: 600;
    color: rgb(69, 69, 69);


}

.remove {
    color: #454545;

}

.Blog {
    color: #454545;

}

.articles {
    color: #454545;

}

.update {
    color: rgb(69, 69, 69);

    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    font-style: normal;


}

.text {
    font-size: 16px;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    color: rgb(69, 69, 69);
    font-weight: 400;
    line-height: 24px;
}

.Policy {
    font-size: 11px;
    font-weight: 400;
    color: rgb(84, 97, 108);
    font-family: "Canva Sans", "Open Sans", sans-serif;


}

#input {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#input input {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: #454545;

}

#input span {
    border-radius: 10px;
    position: absolute;
    right: 10px;
    margin-top: 5px;
    border: 0;
    outline: 0;
}

.elevenContainer {
    margin-top: 100px;


}

.twelveContainer {
    margin-top: 100px;


}

#links {
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(84, 97, 108);
}

#iconText {
    text-align: left;
}

#arrow {
    transition: all 0.5s ease;


}

@keyframes arrowScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#cardContainer {
    width: 300px;
    border-radius: 20px;
    transition: all 0.5s ease;


}

#cardContainer:hover {
    border-color: aqua;
    box-shadow: 0 8px 25px rgba(0, 255, 255, 0.4);
    transform: translateY(-5px);
}

#cardContainer:hover #arrow {
    animation: arrowScale 0.8s infinite ease-in-out;
    border-color: aqua;
}

.nineContainer {
    margin-top: 100px;

    margin-bottom: 100px;
}

#nineContainerCard {
    width: 430.4px;
    height: 395.2;
    padding: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0;
    outline: 0;
    border-radius: 30px;
}

.nineContainerpolicyText {
    font-size: 10px;
}

.bgColor {
    background-color: #54616c;
    width: 100vw;
    margin: 0;
    padding: 0;
    bottom: 0;

}

.footerContainer {
    margin-top: 100px;

    padding: 100px;
    height: 280px;
}


#ftext {
    font-size: 12px;
    line-height: 16px;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-weight: 400;
}

#footerText {
    font-size: 12px;
    line-height: 16px;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-weight: 400;

}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

#nineContainertextImg {
    gap: 50px;
}

#languageBtn {
    border-radius: 20px;
    width: 100px;
    padding: 10px;
    font-size: 14px;
    color: rgb(69, 69, 69);
    line-height: 20px;
    font-family: "Canva Sans", "Open Sans", sans-serif;


}

#iconFooter button {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: 0;
    outline: 0;
}

#eightBtn {
    font-weight: 500;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(69, 69, 69);
    line-height: 24px;
}

#Original,
#transBg,
#newBg,
#end {
    font-size: 14px;
    color: rgb(84, 97, 108);
    font-weight: 400;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    line-height: 20px;
}

#get {
    font-size: 16px;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-weight: 400;
    color: rgb(69, 69, 69);
    line-height: 24px;

}

#blogCardText {
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(69, 69, 69);
    line-height: 24px;

}

#date {
    font-size: 16px;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 24px;

}

@media(max-width:932px) {
    .navLogo {
        width: 200px;
    }

    #line {

        display: none;

    }

    .titleTextH1 {
        font-size: 35px;
    }


    #firstContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }

    #secondContainerImg {
        margin-top: 50px;
    }

    #headerImgVideo {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        padding: 0;

    }

    .videoText {
        margin-left: 0px;
    }

    #headerCard {
        width: 100%;
        margin-top: 10px;
    }

    .fourthText {
        font-size: 31px;
    }

    .fourthTextP {
        font-size: 12px;
    }


    .headerH1 {
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
    }

    .headerH5 {
        text-align: center;
        margin-top: 20px;
    }

    .policyText {
        text-align: center;
        font-size: 11px;
        line-height: 16px;
        color: rgb(84, 97, 108);
        font-weight: 400;

    }

    #textImg {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .titleBtn {
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .titleBtn button {
        margin-top: 20px;
    }

    #seventh {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    #sixthContainerCard {
        width: 100%;

    }

    #sixthContainerImg {
        width: 100%;
    }

    .sixthContainerText {
        width: 100%;
    }

    #sixthContainerH1 {
        font-size: 30px;
    }

    #sixthContainerCard2 {
        width: 100%;
    }

    #tenContainer {
        padding: 0px;
        margin-top: 50px;
    }

    #bgContainer {
        padding: 10px;
    }

    #input {
        width: 100%;
        margin-top: 50px;
    }

    #cardContainer {
        width: 100%;
        border-radius: 20px;
    }

    #fifthContainer {
        padding: 10px;
    }

    .bgContainer {

        width: 100%;
        height: 100%;
    }

    #detailsCard {
        width: 100%;
    }

    #nineContainerCard {
        width: 100%;
    }

    #footerContainer {
        display: flex;
        text-align: center;

    }

    #iconFooter button {
        margin-top: 20px;

    }

    #footerLink {
        display: flex;
        flex-direction: column;
    }

    .link {
        display: flex;
        flex-direction: column-reverse;
    }

    .bgColor {
        width: 100%;
        height: 500px;
    }

    #nineContainertextImg {
        gap: 10px;
    }



}

@media (min-width: 820px) and (max-width: 1180px) {
    #tabletSize {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    #headerImgVideo {
        width: 100%;



    }

    .line img {
        height: 250px;
        position: absolute;
        margin-left: 400px;
        margin-top: 10px;
        display: block;

    }

    #line {
        display: block;
    }


    #headerCard {
        width: 100%;
        margin-top: 100px;
        position: relative;

    }

    .headerH1 {
        text-align: left;
        font-size: 50px;
    }

    .headerH5 {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #firstContainer {
        margin-top: 150px;
    }

    .bgText {
        margin-top: 10px;
    }

    #textImg {
        flex-direction: row;
        gap: 25px;
    }

    .privacy-policy {
        text-align: center;
        max-width: 450px;
    }

    #detailsCard {
        width: 100%;

    }

    #textEmail {
        display: flex;
    }

    #tenContainer {
        padding: 20px;
    }

    .bgContainer {
        padding: 40px;
    }

    .companyHeader {
        margin-top: 50px;
    }

    #textCard {
        font-size: 14px;
    }

    #sixthContainerCard {
        width: 100%;
    }

    #sixthContainerCard2 {
        height: 100%;
    }

    #companyLogo {
        width: 130px;
    }

    #sixthContainerImg {
        width: 500px;
    }

    #sixthContainerH1 {
        font-size: 35px;
    }


}


@media (min-width:1024px) and (max-width:1366px) {
    #tabletSize {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    #rightSide {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .headerH1 {
        text-align: right;
    }

    #upload {
        width: 100%;

    }

    #headerImgVideo {
        width: 100%;
        max-width: 420px;
        margin-top: 0px;
        margin-left: 0px;



    }

    .videoText {
        margin-left: 0px;
    }

    #textImg {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .line img {
        height: 200px;
        position: absolute;
        margin-left: 380px;
        display: none;

    }

    #line {
        display: block;
    }

    #headerCard {
        width: 400px;

    }

    #firstContainer {
        gap: 0px;
    }

    .thirdTextP {
        display: flex;
        font-size: 31px;
    }

    #sixthContainerCard2 {
        height: 100%;
    }

    #sixthContainerH1 {
        font-size: 31px;
    }

    .remove {
        text-align: center;
    }

    #nineContainertextImg {
        gap: 100px;
    }

    #fifthContainer {
        padding: 0px;
    }

    #footerLink {
        font-size: 10px;
    }
}